[Unit]
Description=Safety Alert - A Discord Bot alerts safety alert.
After=network.target

[Service]
Type=simple
User=anthony
ExecStart=/usr/bin/node /home/anthony/workspace/discord/safetyalert/main.js
Restart=on-failure

[Install]
WantedBy=multi-user.target
